# Node.js dependencies
node_modules/

# Environmental variables

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime files
*.pid
*.seed
*.info

# Directory for compiled output
/dist
/build
/out

# Optional: if you have a 'tmp' directory
/tmp

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.Spotlight-V100
.Trashes

# Xcode
.xcodeproj
.xcworkspace

# VS Code
.vscode/

# Editor directories and files
.idea/
.project
.settings/
.classpath
.c9/
*.swp
*.bak
*.swo
*~.nib
*.sublime-project
*.sublime-workspace
.history

# Test coverage
/coverage



# Production build output
/build
/out

# Misc
*.pem
