/* HEADER */
#header{
    background-color: #37517E;
    color: white;
    padding: 30px 50px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.home-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: top;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-size: 19px;
    margin-top: 7px;
}


.signIn{
    height: 44px;
    width: 120px;
    color: white;
    background-color: #37517E;
    border: 2px solid #47B2E4;
    border-radius: 17px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px 12px;
}

nav ul li a:hover{
    cursor: pointer;
    color: lightgray;
}

.current a{
    color: #5491fb;
    font-weight: bold;
}

.current a:hover{
    color: #5491fb;
    opacity: 0.8;
}

.signIn:hover{
    background-color: #5491fb;
    color: white;
    cursor: pointer;
    border: 1px solid #5491fb;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a{
    color: #37517E;
    text-decoration: none;
    font-weight: 600;
}

.dropdown-content a:hover{
    color: blue;
}

/* HOME CONTENT */
#home-content{
    background-color: #5491fb;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 90px;
}

.Organize{
    font-weight: bold;
    color: white;
    font-size: 42px;
}

.home-content-left{
    width: 60%;
    padding-left: 59px;
}

span{
    color: white;
}

.difference{
    font-size: 22px;
    color: rgb(37, 36, 36);
    font-weight: bold;
    opacity: 0.7;
    padding-right: 80px;
}

.home-nav{
    display: flex;
    text-align: center;
}

.signBTN,
.logbtn{
    height: 50px;
    width: 150px;
    padding: 12px 20px;
    font-size: 17px;
    border: 1px solid rgb(10, 185, 253);
    background-color: rgb(10, 185, 253);
    color: white;
    border-radius: 60px;
    transition: 0.15s;
}

.signBTN:hover,
.logbtn:hover{
    background-color: rgba(0, 183, 255, 0.8);
}

.signBTN a,
.logbtn a{
    text-decoration: none;
    color: white;
}

.main-img{
    width: 470px;
    height: 370px;
    padding-right: 30px;
}

#animate-image {
    position: relative;
    animation-name: moveUpDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
  
@keyframes moveUpDown {
    from { top: 0; }
    to { top: 30px; }
}


/* CLIENTS */
#clients{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.client {
    filter: brightness(20%);
    transition: filter 0.3s ease;
    height: 25px;
    width: 70px;
}
  
.client:hover {
    filter: brightness(100%);
    height: 28px;
}


/* ABOUT  */
.about-heading h2{
    color: #37517E;
    font-weight: 700;
    font-size: 40px;
}

.line{
    justify-content: center;
}

.line1,
.line3{
    height: 2px;
    width: 45px;
    background-color: gray;
    border: none;
}

.line2{
    border: none;
    width: 45px;
    background-color: rgb(5, 5, 255);
    height: 4px;
    margin-top: 15px;
}

.why-us-img{
    width: 600px;
}

.about-body{
    justify-content: space-between;
    align-items: center;
    margin-right: 27px;
    line-height: 1.5;
}

.why-us{
    font-size: 18px;
}

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.section.show {
    opacity: 1;
    transform: none;
}

/* CALL TO ACTION */
#call-to-action{
    background: url('./img/call.jpg');
    height: 400px;
    margin-top: 150px;
    margin-bottom: 80px;
    background-position: left;
    background-color: #3f6ab3;
    background-blend-mode: multiply;
}

#call-to-action h3{
    text-align: center;
    color: white;
    padding-top: 60px;
    font-size: 40px;
    font-weight: 700;
}

.call p{
    color: white;
    padding-top: 50px;
    font-size: 24px;
}

.take{
    margin-top: 50px;
    height: 55px;
    width: 200px;
    border: 2px solid white;
    padding: 10px 22px;
    border-radius: 27px;
    font-size: 17px;
    font-weight: 600;
    background: transparent;
}

.take a{
    text-decoration: none;
    color: white;
}

.take:hover{
    background-color: white;
    cursor: pointer;
}

.take a:hover{
    color: #0d63f6;
    font-weight: 900;
}

/* SERVICES */
#services{
    background-color: rgb(236, 236, 236);
    margin: 200px 0px 50px 0px;
    padding: 70px;
    height: auto;
}

.service-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 230px 0px 230px;
}

.service-title h3{
    height: 40px;
    width: 40px;
    background: snow;
    color: blue;
    text-align: center;
    padding-top: 3px;
    font-size: 28px;
    font-weight: 700;
}

.service-title h3:hover{
    user-select: none;
}

.catch{
    font-size: 19px;
    letter-spacing: 2px;
    padding-top: 40px;
}

.mbappe,
.praise{
    background-color: white;
    height: 280px;
    width: 400px;
    line-height: 2;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 1px 8px 16px rgb(172, 170, 170);
}

.mbappe{
    margin-right: 30px;
}

.service-img{
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.service-body-top-one{
    justify-content: space-evenly;
}

.mbappe h3 a,
.praise h3 a{
    color: #0d63f6;
    cursor: pointer;
    text-decoration: none;
}

.mbappe h3 a:hover,
.praise h3 a:hover{
    opacity: 0.8;
}

.mbappe p
.praise p{
    font-size: 16.5px;
    user-select: none;
}

.mbappe:hover,
.praise:hover{
    margin-top: -10px;
    transition: 0.35s;
}

.serviceSection {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
}

.serviceSection.serviceShow {
    opacity: 1;
    transform: none;
}
